*{
    padding:0;
    margin:0;
}

html{
    font-size:100%;
}

a{
    text-decoration:none;
}

li{
    list-style:none;
}

.wrapper{
    max-width:1200px;
    margin:0 auto;
    padding:0 16px;
    box-sizing:border-box;
}

.sec-title{
    font-size:3rem;
    font-weight:bold;
    text-align:center;
    font-family: 'Castoro Titling', cursive;
    color:#1e90ff;
}

.sub-title{
    font-size:1.5rem;
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
    color:#7a7a7a;
    margin-bottom:30px;
}

.fade-in{
    opacity:0;
    transform:translateY(50%);
    transition:1s;
}

.show{
    opacity:1;
    transform:translateY(0);
}


/* header */
#header{
    position:absolute;
}

#header-logo{
    width:145px;
    position:absolute;
    top:50px;
    left:60px;
    z-index:40;
    cursor:pointer;
    line-height:1rem;
    font-family: 'Castoro Titling', cursive;
    transition:0.3s;
}

#header-logo::after{
    content:"";
    width:100%;
    height:1px;
    background:#000;
    transform:scale(0);
    transition:0.3s;
    position:absolute;
    bottom:-5px;
    left:0;
}

#header-logo:hover{
    transform:scale(1.2);
}

#header-logo:hover::after{
    transform:scale(1);
}

#header-logo a{
    color:#333;
    font-size:2rem;
}

#mask{
    opacity:0;
}

#mask.active{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:#333;
    opacity:0.8;
    z-index:20;
    cursor:pointer;
}

#hamburger{
    width:30px;
    height:30px;
    position:fixed;
    top:25px;
    right:30px;
    cursor:pointer;
    z-index:40;
}

#hamburger span{
    display:block;
    width:30px;
    height:2px;
    background:#333;
    border-radius:4px;
    position:absolute;
    transition:0.5s;
}

#hamburger span:nth-child(1){
    top:4px;
}

#hamburger span:nth-child(2){
    top:14px;
}

#hamburger span:nth-child(3){
    top:24px;
}

#hamburger.active span:nth-child(1){
    transform:rotate(-315deg) translate(7px,7px);
    background:#fff;
}

#hamburger.active span:nth-child(2){
    opacity:0;
}

#hamburger.active span:nth-child(3){
    transform:rotate(315deg) translate(7px,-7px);
    background:#fff;
}

#nav{
    width:400px;
    height:100vh;
    background:#000;
    position:fixed;
    top:0;
    right:-400px;
    transition:0.5s;
    z-index:30;
}

#nav.active{
    right:0;
}

#nav-list{
    padding:40px;
}

.nav-item{
    padding:20px 0;
}

.nav-item a{
    color:#fff;
    font-size:1.5rem;
    font-family: 'Castoro Titling', cursive;
    opacity:0.7;
    transition:0.3s;
    position:relative;
}

.nav-item a::after{
    content:"";
    width:100%;
    height:1px;
    background:#fff;
    position:absolute;
    left:0;
    bottom:0;
    transition:all 0.3s;
    transform:scaleX(0);
}

.nav-item a:hover{
    opacity:1;
}

.nav-item a:hover::after{
    transform:scaleX(1);
}

#nav-sns{
    padding:60px 40px;
}

.nav-sns-item{
    padding:10px 0;
}

.nav-sns-item a{
    color:#fff;
    font-size:0.8rem;
    opacity:0.7;
    transition:0.3s;
    position:relative;
}

.nav-sns-item a::after{
    content:"";
    width:100%;
    height:1px;
    background:#fff;
    position:absolute;
    left:0;
    bottom:0;
    transition:all 0.3s;
    transform:scaleX(0);
}

.nav-sns-item a:hover{
    opacity:1;
}

.nav-sns-item a:hover::after{
    transform:scaleX(1);
}

/* firstview  */
#firstview{
    position:relative;
    height:100vh;
    margin-bottom:180px;
    background:#93BFCF;
}

#site-title{
    font-size:6.25rem;
    font-weight:bold;
    font-family: 'Noto Serif JP', serif;
    text-shadow:4px 4px 6px #fff;
    position:absolute;
    bottom:30%;
    left:5%;
    z-index:10;
}

#title-desc{
    font-size:1.125rem;
    font-family: 'Noto Sans JP', sans-serif;
    position:absolute;
    left:8%;
    bottom:16%;
    z-index:10;
    text-shadow:1px 1px 2px #fff;
}

.view-item{
    width:75%;
    position:absolute;
    bottom:0;
    right:0;
    opacity:0;
    animation: change-img 15s infinite;
}

.view-item img{
    width:100%;
    height:100vh;
    object-fit:cover;
}

.view-item::after{
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    box-shadow:0 0 20px 20px #fff inset;
}

.view-item:nth-of-type(1){
    animation-delay:0s;
}

.view-item:nth-of-type(2){
    animation-delay:5s;
}

.view-item:nth-of-type(3){
    animation-delay:10s;
}

@keyframes change-img-first{
    0%{opacity:1;}
    30%{opacity:1;}
    36%{opacity:1;}
    45%{opacity:0;}
    100%{opacity:0;}
}

@keyframes change-img{
    0%{opacity:0;}
    30%{opacity:1;}
    36%{opacity:1;}
    45%{opacity:0;}
    100%{opacity:0;}
}

/* about */
#about{
    margin:80px auto 80px;
    box-sizing:border-box;
    position:relative;
}

#about-img-link{
    width:400px;
    z-index:10;
    position:absolute;
    top:150px;
    left:65%;
    overflow:hidden;
    background:#000;
}

#about-img-link img{
    width:100%;
    height:460px;
    object-fit:cover;
    vertical-align:bottom;
    transition-duration:0.3s;
}

#about-img-p{
    position:absolute;
    top:250px;
    left:25%;
    z-index:20;
    color:#fff;
    font-weight:bold;
    font-size:1.125rem;
    opacity:0;
    transition:0.5s;
}

#about-desc-p{
    width:70%;
    background:#009EFF;
    color:#fff;
    padding:60px 60px 120px 60px;
    position:absolute;
    top:250px;
    left:0;
    line-height:2.5rem;
}

#desc-p-greet{
    font-size:1.5rem;
    font-weight:bold;
    width:70%;
    margin-bottom:40px;
    padding-left:80px;
}

#desc-p-contents{
    width:70%;
    padding-left:80px;
}

#item-link-about{
    text-align:center;
    position:absolute;
    top:690px;
    left:40%;
}

#item-link-about a{
    font-size:1.2rem;
    color:#fff;
    border:1px solid #fff;
    padding:20px 80px;
    transition:0.3s;
    position:relative;
}

#item-link-about a::before{
    content:"";
    width:80px;
    height:1px;
    background:#fff;
    position:absolute;
    top:32px;
    right:-40px;
    transition:0.3s;
}

#item-link-about a:hover:before{
    right:-55px;
}

#item-link-about a::after{
    content:"";
    width:20px;
    height:1px;
    background:#fff;
    position:absolute;
    top:28px;
    right:-40px;
    transform:rotate(25deg);
    transition:0.3s;
}

#item-link-about a:hover::after{
    right:-55px;
}

#item-link-about a:hover{
    background:#fff;
    color:#009EFF;
}

 /* skills */
 #skill{
    max-width:1240px;
    padding:0 16px;
    margin:800px auto 80px;
    box-sizing:border-box;
}

.skill-list{
    display:flex;
    justify-content:space-between;
    margin-top:60px;
}

.skill-item{
    list-style:none;
    margin:0 10px;
}

.skill-image{
    height:180px;
    text-align:center;
    padding:15px;
    transition:0.3s;
}

.skill-image:hover{
    transform:scale(1.2);
}

.skill-name{
    text-align:center;
    padding:10px 0;
    font-size:1.5rem;
}

.skill-desc{
    max-width:300px;
    padding:5px 20px;
    box-sizing:border-box;
    text-align:center;
}

/* work */
#work{
    max-width:1240px;
    padding:0 16px;
    margin:180px auto 80px;
    box-sizing:border-box;
    position:relative;
}

#work-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.work-item{
    box-shadow:0 0 8px 4px #ccc;
    position:relative;
    overflow:hidden;
}

#ver2-box{
    overflow:hidden;
    background:#000;
}

#ver2-box-img{
    width:100%;
    height:170px;
    object-fit:cover;
    vertical-align:bottom;
    transition-duration:0.3s;
    
}

#ver2-box-p{
    position:absolute;
    top:90px;
    left:40%;
    color:#fff;
    font-weight:bold;
    z-index:10;
    font-size:1.125rem;
    opacity:0;
    transition:0.5s;
}

#ver2-box-img.active{
    transform:scale(1.2);
    opacity:0.6;
}

#ver2-box-p.active{
    opacity:1;
}

#ver1-box{
    overflow:hidden;
    background:#000;
}

#ver1-box-img{
    width:100%;
    height:170px;
    object-fit:cover;
    vertical-align:bottom;
    transition-duration:0.3s;
    
}

#ver1-box-p{
    position:absolute;
    top:90px;
    left:40%;
    color:#fff;
    font-weight:bold;
    z-index:10;
    font-size:1.125rem;
    opacity:0;
    transition:0.5s;
}

#ver1-box-img.active{
    transform:scale(1.2);
    opacity:0.6;
}

#ver1-box-p.active{
    opacity:1;
}

#bike-box{
    overflow:hidden;
    background:#000;
}

#bike-box-img{
    width:100%;
    height:170px;
    object-fit:cover;
    vertical-align:bottom;
    transition-duration:0.3s;
    
}

#bike-box-p{
    position:absolute;
    top:90px;
    left:40%;
    color:#fff;
    font-weight:bold;
    z-index:10;
    font-size:1.125rem;
    opacity:0;
    transition:0.5s;
}

#bike-box-img.active{
    transform:scale(1.2);
    opacity:0.6;
}

#bike-box-p.active{
    opacity:1;
}

.item-box{
    padding:25px;
}

.item-title{
    text-align:center;
    font-weight:bold;
    margin-bottom:10px;
}

.item-detail{
    font-size:0.875rem;
    display:flex;
    flex-wrap:wrap;
}

.item-detail dt{
    width:40%;
    font-weight:bold;
    padding:8px 4px;
    box-sizing:border-box;
    border-bottom:1px solid #ddd;
}

.item-detail dd{
    width:60%;
    padding:8px 4px;
    box-sizing:border-box;
    border-bottom:1px solid #ddd;
}

.item-desc{
    font-size:0.875rem;
    height:109px;
    padding:8px 4px;
    box-sizing:border-box;
    border-bottom:1px solid #ddd;
}

.desc-title{
    font-weight:bold;
    padding-bottom:8px;
}

.item-link{
    text-align:center;
    padding:30px 0;
}

.item-link a{
    font-size:0.9rem;
    color:#333;
    border:1px solid #333;
    padding:10px 20px;
    transition:0.3s;
    position:relative;
}

.item-link a::before{
    content:"";
    width:40px;
    height:1px;
    background:#333;
    position:absolute;
    top:19px;
    right:-25px;
    transition:0.3s;
}

.item-link a:hover:before{
    right:-35px;
}

.item-link a::after{
    content:"";
    width:14px;
    height:1px;
    background:#333;
    position:absolute;
    top:16px;
    right:-26px;
    transform:rotate(25deg);
    transition:0.3s;
}

.item-link a:hover::after{
    right:-35px;
}

.item-link a:hover{
    background:#333;
    color:#fff;
}

.item-link-work{
    text-align:center;
    padding:80px 0 60px;
}

.item-link-work a{
    font-size:1.2rem;
    color:#333;
    border:1px solid #333;
    padding:20px 80px;
    transition:0.3s;
    position:relative;
}

.item-link-work a::before{
    content:"";
    width:80px;
    height:1px;
    background:#333;
    position:absolute;
    top:32px;
    right:-40px;
    transition:0.3s;
}

.item-link-work a:hover:before{
    right:-55px;
}

.item-link-work a::after{
    content:"";
    width:20px;
    height:1px;
    background:#333;
    position:absolute;
    top:28px;
    right:-40px;
    transform:rotate(25deg);
    transition:0.3s;
}

.item-link-work a:hover::after{
    right:-55px;
}

.item-link-work a:hover{
    background:#333;
    color:#fff;
}

/* contact */
#contact{
    max-width:1240px;
    padding:0 16px;
    margin:180px auto 120px;
    text-align:center;
    box-sizing:border-box;
}
.contact-text{
    margin-top:60px;
}

.contact-message{
    margin:0;
    padding-bottom:10px;
}

.contact-mail{
    font-size:2.5rem;
    font-weight:bold;
    cursor:pointer;
    display:inline-block;
    transition:0.3s;
    position:relative;
}

.contact-mail:hover{
    color:#62CDFF;
}

.contact-mail::after{
    content:"";
    width:100%;
    height:3px;
    background:#62CDFF;
    position:absolute;
    left:0;
    bottom:0;
    transition:0.3s;
    transform:scale(0);
}

.contact-mail:hover::after{
    transform:scale(1);
}

#contact-p{
    padding:30px 0 0;
}

.contact-icon{
    margin:50px auto 0;
    width:200px;
    display:flex;
    justify-content:space-between;
    align-items:bottom;
}

.contact-icon .fa-brands{
    font-size:2rem;
    margin:0 1rem;
    color:#393e4f;
    transition:0.3s;
}

.fa-twitter:hover{
    color:#62CDFF;
    transform:scale(1.4);
}

.contact-icon .fa-instagram{
    color:#393e4f;
    border-radius:10px;
}

.fa-instagram:hover{
    color:#E11299;
    transform:scale(1.4);

}

#cw{
    width:60px;
    transition:0.3s;
}

#cw span{
    color:#393e4f;
    font-size:0.75rem;
    font-weight:bold;
    letter-spacing:0em;
    border:1px solid #393e4f;
    padding:6px 4px;
    box-sizing:border-box;
    transition:0.3s;
    transform:scale(1);
}

#cw:hover{
    transform:scale(1.4);
}

#cw span:hover{
    color:#fff;
    border:1px solid #0081C9;
    background:#0081C9;
}

/* footer */
#footer{
    width:100%;
    padding:0 16px;
    background:#333;
    box-sizing:border-box;
}

.footer-contents{
    padding:40px;
}

.section-link{
    display:flex;
    justify-content:center;
    margin-bottom:30px;
}

.section-link-item{
    padding:0 25px;
    border-right:1px solid #fff;
}

.section-link-item:nth-child(4){
    border-right:0;
}

.section-link-item a{
    color:#fff;
    font-size:0.875rem;
    transition:0.2s;
    position:relative;
}

.section-link-item a::after{
    content:"";
    width:100%;
    height:1px;
    background:#fff;
    position:absolute;
    bottom:-5px;
    left:0;
    transition:0.2s;
    transform:scale(0);
}

.section-link-item a:hover::after{
    transform:scale(1);
}

.footer-sns-link{
    display:flex;
    justify-content:center;
}

.footer-sns-link-item{
    padding:0 20px;
    border-right:1px solid #fff;
}

.footer-sns-link-item:nth-child(3){
    border-right:0;
}

.footer-sns-link-item a{
    font-size:0.875rem;
    color:#fff;
    transition:0.2s;
    position:relative;
}

.footer-sns-link-item a::after{
    content:"";
    width:100%;
    height:1px;
    background:#fff;
    position:absolute;
    bottom:-5px;
    left:0;
    transition:0.2s;
    transform:scale(0);
}

.footer-sns-link-item a:hover::after{
    transform:scale(1);
}

#copyright{
    font-size:0.75rem;
    text-align:center;
    color:#fff;
    padding:10px 0;
    opacity:0.6;
}

/* トップへスクロールボタン */
#top{
    width:50px;
    height:50px;
    background:#000;
    position:fixed;
    bottom:2%;
    right:2%;
    border:1px solid #fff;
    border-radius:50%;
    cursor:pointer;
    box-sizing:border-box;
    opacity:0.6;
    transition:0.2s;
    z-index:20;
}

#top:hover{
    opacity:1;
}

#top::after{
    content:"";
    border:7px solid transparent;
    border-bottom:7px solid #fff;
    position:relative;
    bottom:0px;
    left:17px;
}

/* レスポンシブ */
@media(max-width:960px){
    #site-title{
        font-size:5rem;
    }

    #title-desc{
        font-size:1rem;
    }

    #about-img-link{
        width:300px;
    }

    #about-desc-p{
        top:200px;
    }

    #item-link-about{
        top:740px;
        left:36%;
    }

    #skill{
        margin:950px auto 80px;
    }
}

@media(max-width:520px){
    #header-logo{
        width:109px;
        top:25px;
        left:15px;
    }

    #header-logo a{
        font-size:1.5rem;
    }

    #header-logo:hover{
        transform:scale(1.1);
    }

    #firstview{
        margin-bottom:70px;
    }

    #site-title{
        font-size:4rem;
        bottom:25%;
    }

    #title-desc{
        font-size:0.9rem;
        bottom:10%;
    }

    .view-item #first{
        object-position:90% 0;
    }

    .sec-title{
        font-size:2.5rem;
    }

    .sub-title{
        font-size:1.2rem;
    }

    #about-img-link{
        width:calc(100% - 32px);
        left:16px;
    }

    #about-img-link img{
        
        height:500px;
    }

    #about-desc-p{
        top:700px;
        width:100%;
        padding:20px 20px 120px 20px;
        box-sizing:border-box;
    }

    #desc-p-greet{
        padding-left:0;
        width:100%;
    }

    #desc-p-contents{
        padding-left:0;
        width:100%;
    }

    #item-link-about{
        top:1200px;
        left:25%;
    }

    #skill{
        margin:1350px auto 80px;
    }

    .skill-list{
        flex-direction:column;
        align-items:center;
    }

    .skill-item{
        margin-bottom:30px;
    }

    #work{
        margin:80px auto;
    }

    #work-list{
        gap:60px;
    }

    #contact{
        margin:120px auto;
    }

    .contact-mail{
        font-size:2.2rem;
    }
}
